<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ming.slove.mvnew">

    <!-- 网络需要权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 拦截android实时短信,自动填写短信验证码 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 调用自定义相机；二维码扫描 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 获取当前Activity名称 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 支付宝支付权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 腾讯TBS浏览器集成 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 下载文件RxDownload -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--直播播放器-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--直播推流相关-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_message_notification"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 更新APP相关 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".ui.update.UpdateService" />
        <!-- 配置第三方Receiver -->
        <!--
        根据业务需要，在AndroidManifest.xml添加用于接收透传消息的BroadcastReceiver，
        第三方开发者需要自行实现该BroadcastReceiver，以便接收CID信息和服务端推送的透传消息。
        -->
        <receiver
            android:name=".common.receiver.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <!-- 配置自定义glide设置 -->
        <meta-data
            android:name="com.ming.slove.mvnew.common.utils.MyGlideModule"
            android:value="GlideModule" />
        <!-- 支付宝相关网页 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- qq浏览器集成相关 -->
        <activity
            android:name=".tab1.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".tab1.webutils.RefreshActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!-- 主程序相关 -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/OpaqueTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/OpaqueTheme" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/OpaqueTheme" />
        <activity
            android:name=".ui.facelogin.FaceLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.scommon.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.scommon.AdviceActivity"
            android:label="@string/title_activity_advice"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".tab4.safesetting.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tab4.safesetting.ChangePursePwdActivity"
            android:label="@string/title_activity_change_purse_pwd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tab4.selfinfo.UserDetailActivity"
            android:label="@string/title_activity_user_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.selfinfo.UpdateUnameActivity"
            android:label="@string/title_activity_update_uname"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.selfinfo.UpdateIdcardActivity"
            android:label="@string/title_activity_update_idcard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.selfinfo.UpdateAdressActivity"
            android:label="@string/title_activity_update_adress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.addfollow.FollowVillageActivity"
            android:label="@string/title_activity_follow_village"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.villagebbs.VillageBbsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_village_bbs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.widgets.bigimageview.BigImageViewActivity"
            android:label="@string/title_activity_big_imageview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.villagesituation.VillageSituationActivity"
            android:label="@string/title_activity_village_situation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.affairs.GovernmentAffairsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.newpost.NewPostActivity"
            android:label="@string/title_activity_new_post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.newpost.BigImageViewActivity"
            android:label="@string/title_activity_big_imageview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.villagebbs.bbsdetail.BbsDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_bbs_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.scommon.SettingCommonActivity"
            android:label="@string/title_activity_setting_common"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.MySettingActivity"
            android:label="@string/title_activity_mysetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.frienddetail.FriendDetailActivity"
            android:label="@string/title_activity_friend_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.frienddetail.RemarkNameActivity"
            android:label="@string/title_activity_remark_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.frienddetail.FriendBbsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.chat.BigImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.TestPhoneNumberActivity"
            android:label="@string/title_activity_test_phone_number"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".common.base.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tab4.applyshoper.ApplyShopOwnerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tab4.safesetting.RealNameBindingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tab3.villagebbs.likeusers.LikeUserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.safesetting.SafeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.widgets.customcamera.TakePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OpaqueTheme" />
        <activity
            android:name=".tab3.affairs.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.applyshoper.ShowApplyingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.villagesituation.villageinfo.VillageInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.villagesituation.villageinfo.VillageInfoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.villagesituation.villagemaster.VillageMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.frienddetail.FriendMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.newfriend.NewFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.mypurse.MyPurseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.safesetting.SetPursePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tab4.mysetting.mypurse.tab1.TakeMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.mypurse.tab1.BindCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.mypurse.tab1.AddCardsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tab4.mysetting.shoppingaddress.ShoppingAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.shoppingaddress.EditShoppingAdressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".shop.shoptab1.express.ExpressTakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab1.express.EditExpressTakeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".common.widgets.scanner.MyScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab1.express.ExpressSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab1.express.EditExpressSendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".tab4.applyshoper.MyShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab1.books.BooksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.base.TabsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab1.books.AddBookActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".tab4.safesetting.ResetPursePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".shop.shoptab2.PhoneRechargeOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab2.SalesOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab2.InsuranceOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab2.TravelOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.shoptab3.AddVillageInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".shop.shoptab3.AddVillageMasterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".shop.shoptab4.VillagerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab2.friendlist.FriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.product.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.product.ProductPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.product.ChooseAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.myorder.MyOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.mypurse.tab2.IncomeBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.mypurse.tab2.IncomeRewardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.mypurse.tab2.IncomeHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab4.mysetting.mypurse.MyPurse2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.share.ShareFriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab3.livevideo.VideoRoomListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tab3.livevideo.newroom.AddNewLiveRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".tab3.livevideo.newroom.LiveCameraStreamingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/OpaqueTheme.Fullscreen" />
        <activity
            android:name=".tab3.livevideo.inroom.LiveVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/OpaqueTheme.Fullscreen" />
    </application>
</manifest>